# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

# IDE / OS specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment
.env

*.pem