version: '3.8'

services:
  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:8-alpine
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py create_superuser &&
        python manage.py seed_db &&
        /usr/local/bin/gunicorn eCommerce.wsgi:application --bind 0.0.0.0:8000
      "
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: /usr/local/bin/celery -A eCommerce worker --loglevel=info
    env_file:
      - .env
    depends_on:
      web:
        condition: service_started
      redis:
        condition: service_started
    restart: unless-stopped

volumes:
  postgres_data:
